body {
  margin: 0;
  font-family: 'Indie Flower', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  padding: 30px;
}

h1, h2, h3, p, ul {
  margin: 0;
}
